@media only screen and (max-width: 7000px){
	.page-wrapper{
		overflow: hidden;
	}
	
}
@media only screen and (max-width: 1590px){
	.header-top-two .right-column {
		display: none;
	}
	.servies-section-two .right-column,
	.servies-section-two .left-column {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		margin-bottom: 30px;
	}
	.servies-section-two .auto-container {
		padding: 0 15px;
	}
	.features-section-two .bottom-content .image {
		margin-left: 0;
	}
	.features-section-two .bottom-content {
		padding: 0 15px;
	}
}
@media screen and (max-width: 1624px) and (min-width: 1591px) {
	.service-blok-two h4{
		font-size:16px;
	}
}
@media only screen and (max-width: 1500px){
	.header-top .right-column {
		display: none;
	}
}
@media screen and (max-width: 1745px) and (min-width: 1201px) {

	.features-section .col-xl-3.feature-block {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 1599px) and (min-width: 1201px) {

	.projects-section .col-xl-3.project-block {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media only screen and (max-width: 1400px){
	.banner-section .banner-slider-nav {
		display: none;
	}
	.main-header .header-upper .navbar-right {
		display: none;
	}
	.what_we_do-block .lower-content .count {
		display: none;
	}
	.services-section-three .ourfacts {
		padding-left: 0;
	}
}

@media only screen and (max-width: 1299px){
	.main-header.header-style-two .header-upper .link-box {
		display: none;
	}
	.header-style-two .header-top {
		padding-right: 0;
	}
	.banner-section .our-facts {
		display: none;
	}
}

@media only screen and (max-width: 1199px){
	
	.program-block .link-btn {
		position: relative;
		bottom: 0;
		margin-top: 20px;
	}
	
	.program-block .inner-box {
		background: #fff;
		padding-bottom: 45px;
		
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
	}
	
	.program-block .inner-box:hover{
		background:#2982e5;
	}
	
	.program-block .shape {
		display: none;
	}
	.news-section .auto-container,
	.main-header .auto-container {
		padding: 0 15px;
	}
	.features-section-two .bottom-content .image {
		margin-top: 30px;
		margin-left: 0;
	}
	.event-details-timer-box .timer-box p {
		margin: 0 0 16px;
	}
	.event-details-timer-box .timer-box .countdown-timer li {
		width: 50%;
		margin-bottom: 10px;
	}
	.event-details-timer-box .timer-box {
		min-height: 220px;
		padding: 20px 50px 15px;
		text-align: center;
	}
}

@media only screen and (max-width: 1139px){
	/* Default */
	.main-header .nav-outer .main-menu,
	.sticky-header{
		display: none !important;
	}
	.nav-outer .mobile-nav-toggler{
		display: block;
	}
	.testimonials-section .big-title{
		font-size:150px;
	}
	.event-block-two .date{
		font-size: 36px;
		right: 25px;	
	}
	.single-gallery-item .img-holder{
		margin-bottom:30px;	
	}
}

@media only screen and (max-width: 991px){
	.services-section-three .content-block {
		padding: 30px;
	}
	.about-section.style-two .image-block {
		margin-left: 0;
	}
	.about-section .image-block {
		padding-left: 0;
		margin-left: 0;
	}
	.mayor-message-section .funfacts {
		margin-top: 60px;
	}
	.highlights-section .highlight-image {
		margin-left: 0;
		margin-right: 0;
	}
	.contact-info-block .inner-box:before {
		display: none;
	}
	.main-footer .footer-top .wrapper-box {
		margin-left: 0;
	}
	.main-footer .footer-top .logo:before {
		display: none;
	}
	.news-section {
		padding-bottom: 0;
	}
	.news-section .owl-dots {
		display: none;
	}
	.news-block .lower-content {
		padding: 45px 20px 30px; 
	}
	.big-title {
		display: none;
	}
	.video-section h2 {
		font-size: 40px;
		line-height: 50px;
	}	
	
	.event-details-timer-box .timer-box p {
		margin: 0 0 16px;
	}
	.event-details-timer-box .timer-box .countdown-timer li {
		width: 50%;
		margin-bottom: 10px;
	}
	.event-details-timer-box .timer-box {
		min-height: 220px;
		padding: 20px 50px 15px;
		text-align: center;
	}
	.footer-widget{
		margin-bottom:40px;	
	}
	.depertment-details.pl-5{
		padding-left:0px !important;
	}
	.depertment-details .group-title h4{
		margin-top:25px;	
	}
	.blog-single-post .image.mb-0{
		margin-top:25px;	
	}
	.blog-single-post .image img{
		width:100%;
	}
	.sidebar-content-box,
	.sidebar.blog-sidebar{
		margin-top:50px;	
	}
	.single-gallery-item .img-holder{
		margin-bottom:30px;	
	}
	
}

@media only screen and (min-width: 768px){
	.main-menu .navigation > li > ul,
	.main-menu .navigation > li > ul > li > ul{
		display:block !important;
		visibility:hidden;
		opacity:0;
	}
}

@media only screen and (max-width: 767px){	
	br {
		display: none;
	}
	.features-section-two .bottom-content {
		padding-left: 15px;
		padding-right: 15px;
	}
	.event-block-two .date {
		font-size: 20px;
		line-height: 30px;
	}	
	.event-block-two .link-btn {
		position: relative;
		right: 0;
		top: 0;
		transform: translateY(0);
		margin-top: 24px;
	}	
	.event-block-two .image {
		padding-bottom: 30px;
	}	
	.event-block-two .image img {
		width: 100%;
	}
	
	.event-details-timer-box .timer-box p {
		margin: 0 0 16px;
	}
	.event-details-timer-box .timer-box .countdown-timer li {
		width: 50%;
		margin-bottom: 10px;
	}
	.event-details-timer-box .timer-box {
		min-height: auto;
		padding: 35px 20px 26px;
		text-align: center;
	}
	
	.event-details-timer-box{
		padding-left:0px;
	}
	.event-details-timer-box .title-box{
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		display: block;
		padding: 25px 0;	
	}
	.event-details-timer-box .timer-box {
		min-height: auto;
		padding: 35px 20px 26px;
		text-align: center;
	}
	.brand-logo-section .single-logo img{
		margin:0 auto;	
	}
	.footer-widget{
		margin-bottom:40px;	
	}
	.about-section.style-two .content-block{
		margin-right:0px;	
	}
	.single-gallery-item .img-holder{
		margin-bottom:30px;	
	}
	.governlia-comment-item .governlia-comment-item{
		margin-left:0px;	
	}
	.news-block-two .post-meta li.read-more{
		position:relative;
		top:0px;	
	}
	.news-block-two{
		padding:0px;	
	}
	.blog-single-post .author-box{
		padding-left:55px;	
	}
	.blog-single-post .author-box .image{
		position:relative;
		margin-bottom:20px;	
		left:0px;
		top:0px;
	}
	.contact-form-section .contact-form-area{
		padding: 70px 15px;	
	}
	.contact-form-section .our-facts{
		max-width:inherit;	
	}
	.funfacts-section .inner{
		flex-direction: column;
		text-align:center;
		margin-bottom:30px;
	}
	.funfacts-section .icon{
		margin-right:0px;
	}
	.funfacts-section .text:before{
		display:none;
	}
}

@media only screen and (max-width: 575px){
	.project-block .content {
		left: 30px;
		bottom: 30px;
	}	
	.project-block h4:before {
		display: none;
	}
	.contact-info-section .wrapper-box {
		padding-left: 20px;
		padding-right: 20px;
	}
	.feature-block .inner-box {
		padding: 50px 15px;
	}
	.sec-title h2 {
		font-size: 40px;
	}
	.banner-section .content-box h1 {
		font-size: 40px;
		line-height: 55px;
	}
	.banner-section .content-box .text {
		font-size: 18px;
		line-height: 30px;
	}
}


@media only screen and (max-width: 350px) {
	.funfacts-section .count-box{
		font-size:30px;	
	}
	.contact-info-section .top-content h2{
		font-size: 40px;	
	}
	.page-title h1{
		font-size: 45px;	
	}
	.about-section .content-block .contact-link{
		display: flex;	
	}
	.error-content .title{
		font-size: 120px;	
	}
	.cta-section .content h2{
		font-size: 45px;	
	}
	.sidebar-content-box{
		margin-top:50px;
	}
	.pagination li{
		margin-bottom:15px;	
	}
	.blog-single-post .author-box h5 a{
		word-break: break-word;	
	}
	.comments-area .comment-box .info .comment-date{
		margin-left:0px;
		display:block;
		margin-top:20px;
	}

}










